.adminPage-body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
}
.questionsInputs {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / 6;
  font-family: "myFirstFont";
  select {
    width: 15vw;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin-left: 1vw;
    margin-bottom: 1vh;
  }
  button {
    width: 100px;
    border-radius: 5px;
    background: #4d7fa4;
  }
  input {
    width: 15vw;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 5px;
    height: 30px;
    margin-left: 1vw;
    font-family: "myFirstFont";
  }


  .questionDiv {
    grid-column: 1 / -1;
    grid-row:5 / 7;
    .question-text {
      width: 40vw;
    }
  }
  .questionInfo {
    grid-column: 6/9;
    grid-row: 1 / 4;
    div {
      font-family: "myFirstFont";
     color: black;
      margin-bottom: -20px;
      padding: 0px;
      height: 30px;
      font-size:.8em;
      font-weight: normal;
      text-align: center;
    }
  }
  .imageDiv {
    width: 50vw;
    height: 40vh;
    grid-column: 1/ 6;
    grid-row: 1 / 5;
    img {
      width:40vw;
      height: 30vh;
    }
    button {
      margin-left: 5px;
      height: 30px;
    }
  }
  button {
    grid-column: 1 / -1;
    height: 30px;
    cursor: pointer;
  }
}