.answerOptions {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  min-height: auto;
  max-height: 25vh;
  grid-gap: 2vw;
  & > div {
    min-height: 10vh;
    min-width: 10vw;
    font-family:  "myFirstFont";
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 0.2s;
    cursor: pointer;
    box-shadow: inset 0px 3px 10px  rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
    input[type=checkbox]{
      display: none;
    }
    &:hover {
      background: rgba(77, 127, 164,1);
      color: rgb(242, 159, 78);
    }

  }
}

.checked {
  background: rgba(77, 127, 164,1);
  color: rgb(255, 255, 255);
  border: 3px solid  rgba(77, 127, 164,1);
}

.hlLogin {
  background: rgba(77, 127, 164,1);
  color: rgb(255, 255, 255);
}

.option1 {
  grid-column: 1/3;
}

.option2 {
  grid-column: 3/5;
}

.option3 {
  grid-column: 5/7;
}

.option4 {
  grid-column: 7/9;

}

.option5 {
  grid-column: 9/11;
}

@media only screen and (max-width: 800px) {
  .answerOptions {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row: 2/8;
    grid-column: 2/16;
    grid-gap: 2vw;
  }
  .option1 {
    grid-row: 1/6;
    grid-column: 1/6;
  }

  .option2 {
    grid-row: 1/6;
    grid-column: 6/11;
  }

  .option3 {
    grid-row: 1/6;
    grid-column: 11/-1;
  }

  .option4 {
    grid-row: 6/-1;
    grid-column: 3/8;
  }

  .option5 {
    grid-row: 6/-1;
    grid-column: 8/13;
  }
}