@media screen and (max-width: 800px) {
  .body-container {
    height: 100vh;
    width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
}
//question element starts here ----------------------------------------------------------------------

.questionTitle {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
}

.fullQuestion {
  font-family:  "myFirstFont";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.1em;
  grid-row: 3/4;
  grid-column: 2/3;
  height: 17vh;
  max-height: 150px;
  max-width: 1000px;
}

.graphQuestion {
  height: 35vh;
  max-height: 350px;
  width: 45vw;
  max-width: 1000px;
  margin-top: 2vh;
}

.graphImage {
  background: rgba(255,255,255,0.6);
  height:100%;
  width: 100%;
}


//question element ends here ----------------------------------------------------------------


.remainingTime{
  background: rgba(32, 95, 141, 0.8);
  border-radius:  100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  "myFirstFont";
  color: rgb(242, 159, 78);
}

.questionNumber{
  background: rgba(32, 95, 141, 0.8);
  border-radius:  100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-family:  "myFirstFont";
}

.next_question_button{
  color: rgba(32, 95, 141, 0.8);
  background: #F29F4E;
  border-radius:  100%;
  height: 16vh;
  width: 16vh;
  transition:all 0.15s;
  cursor: pointer;
  font-size: 1em;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  font-family:  "myFirstFont";
  box-shadow: inset  0px 0px 0px  rgba(0, 0, 0, 0.2), 2px 3px 10px rgba(0, 0, 0, 0.2);
  &:hover {
    background: rgba(32, 95, 141, 0.8);
    color: #F29F4E;
    box-shadow: inset  0px 4px 10px  rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.timeOrderNext {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  margin-bottom:6vh;
  margin-top: 2vh;
}

button {
  border: none;
}

@media only screen and (max-width: 1200px) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .7em;
  }

  .fullQuestion{
    font-size: .9em;
    padding: 1vw;
  }

  .answerOptions{
    font-size: .7em;
  }
}

@media only screen and (max-width: 800px) {

}


@media only screen and (max-width: 800px) and (orientation: portrait) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: .7em;

  }
  .questionTitle{
    grid-column:1/-1;
    grid-row: 1/auto;
    margin-top: 0;
    max-height: 55vh;
  }

  .fullQuestion{
    height: 100%;
    font-size: .7em;
    max-height: 20vh;
    max-width: 90vw;
    text-align: justify;
    overflow: auto;
  }

  .graphQuestion {
    margin-top: 1vh;
    height: 100%;
    max-height: 30vh;
    width: 90vw;
  }

  .graphImage {
    background: rgba(255,255,255,0.6);
    height: 100%;
    width: 100%;
  }


  .answerOptions{
    font-size: .7em;
    max-width: 90vw;
    margin-left: 5vw;
    div {
      padding: 1vw;
    }
  }
  .orderNumber {
    display: none;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .5em;

  }
  .questionTitle{
    grid-column:1/-1;
    grid-row: 1/3;
    margin-top: 0;
    min-height: 45vh;
    max-width: 100vw;
  }

  .fullQuestion{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 5vh;
    font-size: .8em;
    padding: 1vw;
  }

  .graphQuestion{
    min-height: 37vh;
    max-width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answerOptions{
    font-size: .65em;
    margin: 1vw;
    min-height: 20vh;
    max-height: 25vh;
    div {
      padding: 1vh;
    }
  }
  .orderNumber {
    display: none;
  }
}
