@media screen and (min-width: 1000px) {
  .body-container {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .infoText {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-height: 75vh;
    overflow-scrolling: auto;
    overflow: auto;
    font-family: "myFirstFont";
    max-width: 60vw;
    height: 70vh;
    text-align: center;
    font-size: 1em;
    grid-gap: 2vh;
    input {
      text-transform: uppercase;
      border-radius: 5px;
      height: 20px;
      color: rgba(77, 127, 164,1);
    }
    p {
      max-width: 250px;
      font-size: .8em;
      border-radius: 5px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 0px;
      &:nth-child(odd) {
        grid-column: 3/6;
      }
      &:nth-child(even) {
        grid-column: 6/9;
        position: relative;
        top: 5vh;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: auto;
    p {
      max-width: 250px;
      font-size: .8em;
      border-radius: 5px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 10px;
      }
    input {
      text-transform: uppercase;
      height: 20px;
      border-radius: 3px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
    }
  }
};

.curp {
  width: 100%;
  max-width: 250px;
  height: 30px;
  border-radius: 5px;
  grid-column: 5/7;
  font-family: "myFirstFont";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

div.amfe-modal-node.amfe-alert {
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
  .content {
    min-height: 15vh;
    font-size: 1.2em;
  }
  .btn-group {
    cursor: pointer;
    font-size: 1em;
    padding-top: 1.5vh;
  }
}