
.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resultsList {
  font-family: "myFirstFont";
  display: flex;
  grid-row: 2/4;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
  width: 80vw;
  min-height: 60vh;
  border-radius: 10px;
  padding: 0px;
  color: rgba(77, 127, 164,0.8);
  li {
    display: flex;
    list-style: none;
    padding-right: 1vw;
    margin-bottom: 5px;
    margin-left: 2vw;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 3vh;
    font-size: .9em;
    color: ghostwhite;
    border-radius: 4px;
    &:nth-child(odd) {background: rgba(77, 127, 164,1)};
    &:nth-child(even) {background: rgba(77, 127, 164,0.8)};
        }
    span {
      padding-left: 30px;
    }
}

#resultTotal {
  font-family: "myFirstFont";
  font-weight: 400;
  height: 15vh;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(77, 127, 164,1);
  border-radius: 100%;
  font-size: 1.4em;
  color: whitesmoke;
}

@media only screen and (max-width: 1000px) {
  .resultsList {
    li {
      height: 3vh;
      font-size: .7em;
      color: ghostwhite;
      border-radius: 4px;
    }
  }
  #resultTotal {
    font-size: 1.1em;
  }

}