@import 'body-container';
@import './login';
@import './answerOptions';
@import './resultList';
@import './circularbar';
@import 'admin';

$dark-gray: rgba(0,0,0,0.3);
$text-color: #F29F4E;
$text-dark: rgba(77, 127, 164, 1);
$background: rgba(77, 127, 164, 1);
$background-lighter: rgba(77, 127, 164, 0.4);

* {
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


:root {

}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.5);
}

@font-face {
  font-family: myFirstFont;
  src: url(../content/Avenir/AvenirLTStd-Roman.otf);
}


html {
  font-family: "myFirstFont";
  font-weight: 400;
  text-align: center;
  font-size:1.3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size:cover;
  height:100vh;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: $text-dark;
  background-image: url("../content/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

a {
  text-decoration: none;
  color: rgba(77, 127, 164, 1);
}

@media only screen and (max-width: 2200px) {

}


@media only screen and (max-width: 1500px) {


}

@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 450px) {
  html {

    background-position: bottom;
  }
}

