@media screen and (max-width: 800px) {
  .body-container {
    height: 100vh;
    width: 100vw; } }

@media screen and (min-width: 800px) {
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; } }

.questionTitle {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh; }

.fullQuestion {
  font-family: "myFirstFont";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  font-size: 1.1em;
  grid-row: 3/4;
  grid-column: 2/3;
  height: 17vh;
  max-height: 150px;
  max-width: 1000px; }

.graphQuestion {
  height: 35vh;
  max-height: 350px;
  width: 45vw;
  max-width: 1000px;
  margin-top: 2vh; }

.graphImage {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%; }

.remainingTime {
  background: rgba(32, 95, 141, 0.8);
  border-radius: 100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
  color: #f29f4e; }

.questionNumber {
  background: rgba(32, 95, 141, 0.8);
  border-radius: 100%;
  height: 16vh;
  width: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  font-family: "myFirstFont"; }

.next_question_button {
  color: rgba(32, 95, 141, 0.8);
  background: #F29F4E;
  border-radius: 100%;
  height: 16vh;
  width: 16vh;
  transition: all 0.15s;
  cursor: pointer;
  font-size: 1em;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont";
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2), 2px 3px 10px rgba(0, 0, 0, 0.2); }
  .next_question_button:hover {
    background: rgba(32, 95, 141, 0.8);
    color: #F29F4E;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.2); }

.timeOrderNext {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40vw;
  margin-bottom: 6vh;
  margin-top: 2vh; }

button {
  border: none; }

@media only screen and (max-width: 1200px) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .7em; }
  .fullQuestion {
    font-size: .9em;
    padding: 1vw; }
  .answerOptions {
    font-size: .7em; } }

@media only screen and (max-width: 800px) and (orientation: portrait) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: .7em; }
  .questionTitle {
    grid-column: 1/-1;
    grid-row: 1/auto;
    margin-top: 0;
    max-height: 55vh; }
  .fullQuestion {
    height: 100%;
    font-size: .7em;
    max-height: 20vh;
    max-width: 90vw;
    text-align: justify;
    overflow: auto; }
  .graphQuestion {
    margin-top: 1vh;
    height: 100%;
    max-height: 30vh;
    width: 90vw; }
  .graphImage {
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%; }
  .answerOptions {
    font-size: .7em;
    max-width: 90vw;
    margin-left: 5vw; }
    .answerOptions div {
      padding: 1vw; }
  .orderNumber {
    display: none; } }

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .timeOrderNext {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: .5em; }
  .questionTitle {
    grid-column: 1/-1;
    grid-row: 1/3;
    margin-top: 0;
    min-height: 45vh;
    max-width: 100vw; }
  .fullQuestion {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 5vh;
    font-size: .8em;
    padding: 1vw; }
  .graphQuestion {
    min-height: 37vh;
    max-width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .answerOptions {
    font-size: .65em;
    margin: 1vw;
    min-height: 20vh;
    max-height: 25vh; }
    .answerOptions div {
      padding: 1vh; }
  .orderNumber {
    display: none; } }

@media screen and (min-width: 1000px) {
  .body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .infoText {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    max-height: 75vh;
    overflow-scrolling: auto;
    overflow: auto;
    font-family: "myFirstFont";
    max-width: 60vw;
    height: 70vh;
    text-align: center;
    font-size: 1em;
    grid-gap: 2vh; }
    .infoText input {
      text-transform: uppercase;
      border-radius: 5px;
      height: 20px;
      color: #4d7fa4; }
    .infoText p {
      max-width: 250px;
      font-size: .8em;
      border-radius: 5px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 0px; }
      .infoText p:nth-child(odd) {
        grid-column: 3/6; }
      .infoText p:nth-child(even) {
        grid-column: 6/9;
        position: relative;
        top: 5vh; } }

@media screen and (max-width: 1000px) {
  .infoText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: auto; }
    .infoText p {
      max-width: 250px;
      font-size: .8em;
      border-radius: 5px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1);
      padding: 10px;
      margin: 10px; }
    .infoText input {
      text-transform: uppercase;
      height: 20px;
      border-radius: 3px;
      box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1); } }

.curp {
  width: 100%;
  max-width: 250px;
  height: 30px;
  border-radius: 5px;
  grid-column: 5/7;
  font-family: "myFirstFont";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; }

div.amfe-modal-node.amfe-alert {
  width: 20vw;
  height: 20vh;
  border-radius: 10px; }
  div.amfe-modal-node.amfe-alert .content {
    min-height: 15vh;
    font-size: 1.2em; }
  div.amfe-modal-node.amfe-alert .btn-group {
    cursor: pointer;
    font-size: 1em;
    padding-top: 1.5vh; }

.answerOptions {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  min-height: auto;
  max-height: 25vh;
  grid-gap: 2vw; }
  .answerOptions > div {
    min-height: 10vh;
    min-width: 10vw;
    font-family: "myFirstFont";
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.1), 0px 5px 10px rgba(0, 0, 0, 0.1); }
    .answerOptions > div input[type=checkbox] {
      display: none; }
    .answerOptions > div:hover {
      background: #4d7fa4;
      color: #f29f4e; }

.checked {
  background: #4d7fa4;
  color: white;
  border: 3px solid #4d7fa4; }

.hlLogin {
  background: #4d7fa4;
  color: white; }

.option1 {
  grid-column: 1/3; }

.option2 {
  grid-column: 3/5; }

.option3 {
  grid-column: 5/7; }

.option4 {
  grid-column: 7/9; }

.option5 {
  grid-column: 9/11; }

@media only screen and (max-width: 800px) {
  .answerOptions {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-row: 2/8;
    grid-column: 2/16;
    grid-gap: 2vw; }
  .option1 {
    grid-row: 1/6;
    grid-column: 1/6; }
  .option2 {
    grid-row: 1/6;
    grid-column: 6/11; }
  .option3 {
    grid-row: 1/6;
    grid-column: 11/-1; }
  .option4 {
    grid-row: 6/-1;
    grid-column: 3/8; }
  .option5 {
    grid-row: 6/-1;
    grid-column: 8/13; } }

.resultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.resultsList {
  font-family: "myFirstFont";
  display: flex;
  grid-row: 2/4;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
  width: 80vw;
  min-height: 60vh;
  border-radius: 10px;
  padding: 0px;
  color: rgba(77, 127, 164, 0.8); }
  .resultsList li {
    display: flex;
    list-style: none;
    padding-right: 1vw;
    margin-bottom: 5px;
    margin-left: 2vw;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 3vh;
    font-size: .9em;
    color: ghostwhite;
    border-radius: 4px; }
    .resultsList li:nth-child(odd) {
      background: #4d7fa4; }
    .resultsList li:nth-child(even) {
      background: rgba(77, 127, 164, 0.8); }
  .resultsList span {
    padding-left: 30px; }

#resultTotal {
  font-family: "myFirstFont";
  font-weight: 400;
  height: 15vh;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d7fa4;
  border-radius: 100%;
  font-size: 1.4em;
  color: whitesmoke; }

@media only screen and (max-width: 1000px) {
  .resultsList li {
    height: 3vh;
    font-size: .7em;
    color: ghostwhite;
    border-radius: 4px; }
  #resultTotal {
    font-size: 1.1em; } }

.circular-progressbar {
  width: 100%; }
  .circular-progressbar svg {
    width: 100%; }
  .circular-progressbar :global(.CircularProgressbar) {
    width: 100%; }
    .circular-progressbar :global(.CircularProgressbar) :global(.CircularProgressbar-path) {
      transition: stroke-dashoffset 0.5s ease 0s;
      stroke: url("#gradient"); }
    .circular-progressbar :global(.CircularProgressbar) :global(.CircularProgressbar-trail) {
      stroke: #4d7fa4; }
    .circular-progressbar :global(.CircularProgressbar) :global(.CircularProgressbar-text) {
      transform: translatey(-4px);
      font-size: 0.5em;
      fill: #F29F4E;
      dominant-baseline: middle;
      text-anchor: middle;
      display: none; }
    .circular-progressbar :global(.CircularProgressbar) :global(.CircularProgressbar-background) {
      fill: rgba(0, 0, 0, 0.3); }
  .circular-progressbar line {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 0.5; }
  .circular-progressbar .label {
    font-size: 0.68em;
    fill: #F29F4E;
    dominant-baseline: middle;
    text-anchor: middle; }

@media only screen and (max-width: 450px) {
  .circular-progressbar .label {
    font-size: 1em;
    fill: #F29F4E;
    dominant-baseline: middle;
    text-anchor: middle; } }

@media only screen and (max-width: 800px) and (orientation: landscape) {
  .circular-progressbar .label {
    font-size: 1.7em; } }

.adminPage-body {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: center;
  align-items: center;
  font-family: "myFirstFont"; }

.questionsInputs {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column: 1 / -1;
  grid-row: 1 / 6;
  font-family: "myFirstFont"; }
  .questionsInputs select {
    width: 15vw;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    margin-left: 1vw;
    margin-bottom: 1vh; }
  .questionsInputs button {
    width: 100px;
    border-radius: 5px;
    background: #4d7fa4; }
  .questionsInputs input {
    width: 15vw;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: 5px;
    height: 30px;
    margin-left: 1vw;
    font-family: "myFirstFont"; }
  .questionsInputs .questionDiv {
    grid-column: 1 / -1;
    grid-row: 5 / 7; }
    .questionsInputs .questionDiv .question-text {
      width: 40vw; }
  .questionsInputs .questionInfo {
    grid-column: 6/9;
    grid-row: 1 / 4; }
    .questionsInputs .questionInfo div {
      font-family: "myFirstFont";
      color: black;
      margin-bottom: -20px;
      padding: 0px;
      height: 30px;
      font-size: .8em;
      font-weight: normal;
      text-align: center; }
  .questionsInputs .imageDiv {
    width: 50vw;
    height: 40vh;
    grid-column: 1/ 6;
    grid-row: 1 / 5; }
    .questionsInputs .imageDiv img {
      width: 40vw;
      height: 30vh; }
    .questionsInputs .imageDiv button {
      margin-left: 5px;
      height: 30px; }
  .questionsInputs button {
    grid-column: 1 / -1;
    height: 30px;
    cursor: pointer; }

* {
  box-sizing: border-box; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); }

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); }

@font-face {
  font-family: myFirstFont;
  src: url(../content/Avenir/AvenirLTStd-Roman.otf); }

html {
  font-family: "myFirstFont";
  font-weight: 400;
  text-align: center;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #4d7fa4;
  background-image: url("../content/bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain; }

a {
  text-decoration: none;
  color: #4d7fa4; }

@media only screen and (max-width: 450px) {
  html {
    background-position: bottom; } }
